h1 {
    text-align: center;
}

.input-section {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.etch-a-sketch-container {
    display: flex;
    justify-content: center;
}

.container {
    background-color: black;
    border: medium solid black;
    height: 750px;
    width: 750px;
    display: flex;
}

.row-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.box-container {
    border: 1px solid white;
    flex: 1;
}